<div style="width:100vw; min-height:100vh; display:flex; justify-content:center; align-items:center; font-family:Arial; background:#030712; color:white;">

  <div style="width:550px; padding:45px; background:rgba(255,255,255,0.08); border:2px solid #00ffff; border-radius:25px;">

    <h1 style="font-size:45px; color:#00ffff; text-align:center;">Crear Cuenta</h1>

    <p style="text-align:center; color:#ccc; margin-bottom:30px;">
      Regístrate y confirma tu correo electrónico.
    </p>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>

      <label>Correo electrónico</label><br><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, style: "width:100%; padding:15px; border:none; border-radius:10px; margin-bottom:20px;" %>

      <label>Contraseña</label><br><br>
      <%= f.password_field :password, autocomplete: "new-password", required: true, style: "width:100%; padding:15px; border:none; border-radius:10px; margin-bottom:20px;" %>

      <label>Confirmar contraseña</label><br><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, style: "width:100%; padding:15px; border:none; border-radius:10px; margin-bottom:30px;" %>

      <%= f.submit "Crear Cuenta", style: "width:100%; padding:16px; background:#00bcd4; color:white; border:none; border-radius:12px; font-size:20px; cursor:pointer;" %>

    <% end %>

    <br>

    <div style="text-align:center;">
      <a href="/users/sign_in" style="color:#ff00ff;">Ya tengo cuenta</a>
      <br><br>
      <a href="/" style="color:#00ffff;">← Regresar al inicio</a>
    </div>

  </div>

</div>